In [1]:

___

## Simple Content-Based Car Recommender Systems
## Nearest Neighbors Algorithm

''

In [1]:
#How closely features are related
import numpy as np
import pandas as pd

import sklearn
from sklearn.neighbors import NearestNeighbors

*mtcars dataset source:* 
Henderson and Velleman (1981), Building multiple regression models interactively. Biometrics, 37, 391â€“411.

In [3]:
cars = pd.read_csv('mtcars.csv')
cars.columns = ['car_names', 'mpg', 
                'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360,175,3.15,3.440,17.02,0,0,3,2

In [9]:
#Customer wants 15 mpg, 160 hp, 300 disp, and wt =3.2
t = [15, 300, 160, 3.2]

#Let's look at these variables
X = cars.ix[:,(1, 3, 4, 6)].values
X[0:5]

array([[ 21.   , 160.   , 110.   ,   2.62 ],
       [ 21.   , 160.   , 110.   ,   2.875],
       [ 22.8  , 108.   ,  93.   ,   2.32 ],
       [ 21.4  , 258.   , 110.   ,   3.215],
       [ 18.7  , 360.   , 175.   ,   3.44 ]])

In [10]:
#Build NN model and fit it
nbrs = NearestNeighbors(n_neighbors=1).fit(X)

In [11]:
#t is test point
print(nbrs.kneighbors([t]))
#index value of 22 is most similar point to what customer wants

(array([[10.77474942]]), array([[22]], dtype=int64))

In [12]:
cars.ix[22]

car_names    AMC Javelin
mpg                 15.2
cyl                    8
disp                 304
hp                   150
drat                3.15
wt                 3.435
qsec                17.3
vs                     0
am                     0
gear                   3
carb                   2
Name: 22, dtype: object